spring:
  datasource:
    url: jdbc:oracle:thin:@oracle.fiap.com.br:1521:ORCL
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 30
      minimum-idle: 10
      idle-timeout: 600000

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  cache:
    redis:
      time-to-live: 7200000

server:
  port: 8080
  ssl:
    enabled: true
    key-store: ${SSL_KEYSTORE_PATH}
    key-store-password: ${SSL_KEYSTORE_PASSWORD}
    key-store-type: PKCS12

logging:
  level:
    root: WARN
    com.wellmind: INFO
  file:
    name: /var/log/wellmind/wellmind.log
    max-size: 50MB
    max-history: 60

app:
  jwt:
    secret: ${JWT_SECRET}
    expiration: 86400000
