spring:
  datasource:
    url: jdbc:oracle:thin:@oracle.fiap.com.br:1521:ORCL
    username: rm551939
    password: 270399

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true


server:
  port: 8080

logging:
  level:
    root: INFO
    com.wellmind: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.hibernate: DEBUG

app:
  jwt:
    secret: dev-secret-key-not-for-production
